<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED BANNER</title>
    <link type="text/css" rel="stylesheet" href="static/css/style.css" />
    <script src="static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans&family=Space+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div id='bodybox'>
        <h1>INPUT PROMPT</h1>
        <div class="description">
            <p>Write here the messages that you want to see on the banner! For additional information click <a href="//scuola23.matteobini.me/bluetooth-led-banner/" target="_blank">here</a>.</p>
        </div>
        <div id='chatborder'>
          <p id="chatlog7" class="chatlog">&nbsp;</p>
          <p id="chatlog6" class="chatlog">&nbsp;</p>
          <p id="chatlog5" class="chatlog">&nbsp;</p>
          <p id="chatlog4" class="chatlog">&nbsp;</p>
          <p id="chatlog3" class="chatlog">&nbsp;</p>
          <p id="chatlog2" class="chatlog">&nbsp;</p>
          <p id="chatlog1" class="chatlog">&nbsp;</p>
          <input type="text" name="chat" id="chatbox" placeholder="Message" onfocus="placeHolder()" >
        </div>
    </div>
</body>
</html>
